/* 

Theme: LunchBreak Food Ordering System

*/
.main-content{
    
    min-height: calc(100vh - 40px);

}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

h2{
    color:rgb(151, 88, 12);
    font-size: 2.2rem;
    margin-bottom: 2%;
    font-style: arial;
}

.wrapper{

    width: 80%;
    margin: 0 auto;
    
}

.wrapper2{

    width: 95%;
    margin: 0 auto; 
    vertical-align: middle;
}

.footer-wrapper{

    padding: 1%;
    width: 80%;
    margin: 0 auto;  
}

.text-center{
    text-align: center;
}

.clearfix{
    float: none;
    clear: both;
}

.tblfull{
    width: 90%;
    padding: 1rem;
}

table{
    width : 60%;
    background-color: rgb(250, 238, 224);  
    border-collapse: collapse; 
}

table tr th {
    border-bottom: 1px solid rgb(14, 13, 13);
    padding: 15px;
    text-align: left;
}

td {
    padding: 1%;
    font-size: large;
}

input[type=text], input[type=password], input[type=number]  {
    padding: 10px;
    background-color: rgb(248, 248, 248);
    font-size: large;
    
}

input[type=file] {

    padding: 1px;
    font-size: large;
}

textarea{
    padding: 2px;
    background-color: rgb(248, 248, 248);
    font-size: large;
}

select{

    padding: 2px;
    background-color: rgb(248, 248, 248);
    font-size: large;
}

.btn-primary{
    padding: 1%;
    text-decoration: none;
    font-weight: bold;
}

.btn-primary2{
    background-color: rgb(80, 150, 97);
    color: white;
    font-weight: bold;
    cursor: pointer;
    padding: 2%;
    width: 15%;
}

.btn-primary:hover{
    background-color:transparent;
}

.btn-secondary{
    background-color: rgb(20, 199, 139);
    padding: 1%;
    color: rgb(20, 18, 18);
    text-decoration: none;
    font-weight: bold;
}
.btn-secondary:hover{
    background-color: transparent;
}

.btn-danger{
    background-color: rgb(216, 53, 53);
    padding: 1%;
    color: black;
    text-decoration: none;
    font-weight: bold;
}
.btn-danger:hover{
    background-color: transparent;
}

.success{
    color:rgba(81, 116, 47, 0.664);
    font-weight: bold;
}

.failed{
    color:rgba(231, 41, 16, 0.664);
}


/* CSS for Menu */
.menu{
    border-bottom: 0px solid black;
    background-color:rgb(156, 116, 63);
    font-size: large;
}

.menu ul{
    list-style-type: none;
}
.menu ul li {
    display: inline;
    padding: 1%;
}
.menu ul li a{
    text-decoration: none;
    color:white;
}

.menu ul li a:hover{
    color:rgb(230, 120, 77);
}

/* CSS for main-content */
/* space top and bottom, left and right */
.main-content{
    padding: 2% 0;
    background-color:#fff4ec;
}
.col-4{
    width:20%;
    background-color: rgb(255, 255, 255) ;
    margin:1%;
    padding: 1%;
    float:left;

}
/* CSS for footer */

.footer-2{
        text-align: center;
        color: white;
        position: sticky;
        top: 100%;
        background-color: rgb(163, 121, 66);      
    
}

.login
{
    background-color: rgb(228, 197, 171);
    border: 3px solid rgba(207, 177, 129, 0.658);
    width: 30% ; 
    margin: 15% auto;
    padding: 2.5%;
}


