/* 
Theme: LunchBreak Food Ordering System
*/

/* CSS all */

body{
    
    min-height: calc(100vh - 40px);

}

*{
    margin: 0 0;
    padding: 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container{
    width: 80%;
    margin: 0 auto;
    padding: 0.5;
    border: 100%;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
    font-size:larger;
}

.text-center{
    text-align: center;
}

.text{

    text-align: center;
    font-size: 2rem;
    color:rgb(65, 116, 15);
}

.text2{

    text-align: center;
    color:red;
}

.text-left{
    text-align: left;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #d35400;
    text-decoration: none;
}

a.r:hover{
    
    color:rgb(243, 243, 243);
}

a:hover{
    color:brown;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
}

.btn-primary{
    background-color: rgba(248, 194, 145,1.0);
    color: black;
    cursor: pointer;
    
}

.btn-primary2{
    background-color: rgb(138, 91, 30);
    color: white;
    cursor: pointer;
    padding: 2%;
}

h1{
        color:white;
        font-style: oblique;
}

h2{
    color:rgb(151, 88, 12);
    font-size: 2.2rem;
    margin-bottom: 2%;
    font-style: oblique;
}

h2.p{
    font-size: 1.5rem;
    padding:0vw;
    color:rgba(201, 115, 58, 0.781);
}

h3{
    font-size: 1.5rem;
    padding:0vw;
    color:rgba(201, 115, 58, 0.781);
    
}

h3.p{
    font-size: 1.2rem;
    padding:0vw;
    color:rgba(114, 77, 22, 0.856);
    font-family: Arial, Helvetica, sans-serif;
}

.float-container{
    position: relative;
}
.float-text{
    position:absolute;
    bottom: 50px;
    left: 40%;
}

fieldset{
    border: 1px solid rgb(138, 91, 30);
    background-color: rgb(240, 205, 160);
    margin: 5%;
    padding: 3%;
    border-radius: 5px;
    border-width:1rem;
    border-bottom-color: transparent;
    border-right-color: transparent;   
}

legend{
    color:black;
    padding: 0 1rem;
    font-size: 18px;
}


/* CSS for Navbar */


.logo{
  
    width: 16% ;
    float: left;
    padding: 0 0;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS for Banner */
.food-banner{
    background-image: url(../images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 7% 0;
}

/* CSS Categories */
.categories{
    
    padding: 2% 0;
    
}

.box-3{

    width: 20%;
    float: left;
    margin: 2%;
}

.box-2{

    width: 20%;
    float: left;
    margin: 2%;
  
}

/* Food Menu */

.food-menu{
    background-color:blanchedalmond;
    padding: 4% 0;
}

.food-menu-box{
    border: 1px solid white;
    width: 43%;
    margin: 2%;
    padding: 1%;
    float: left;
    background-color: white;
    border-radius: 15px;
}

.food-menu-img{
    width: 21%;
    float: left;
}

.food-desc{

    width: 70%;
    float: left;
    margin-left: 8%;
}

.food-price{
    font-size: 1rem;
    margin: 2% 0;
}

.food-desc2{
    font-size: 1rem;
    color:rgba(113, 128, 147,1.0);
}

.failure {
    color:rgba(231, 41, 16, 0.664);
}

.success{
    color:rgba(81, 116, 47, 0.664);
    font-weight: bold;
}

/* CSS Order */
.order{
    width: 50%;
    margin: 0 auto;
  
}
.input-responsive{
    width: 96%;
    padding: 1%;
    margin-bottom: 3%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}
.order-label{
    margin-bottom: 1%;
    font-weight: bold;
    font-size: larger;
}

select{
    margin-bottom: 1%;
    font-weight: bold;
    width: 98%;  
    padding: 10px 15px;
    border-radius: 05px;
}

span.emoji{
   font-size: 35px;
   text-align: center;
}

.food-order{
    background-image: url(../Images/Order\ background2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    padding: 7% 0;
}

/* CSS Register */

.register{

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        padding: 50px;
        margin: 0 auto;
        width: 50%;
        
}

.text-color{
    color:rgb(138, 91, 30);
     
}

.design{
    border: 1.5px solid rgb(138, 91, 30);
    background-color: rgb(240, 205, 160);
    margin: 3%;
    padding: 5%;
    border-radius: 10px; 
}

.container1{
    background-color:blanchedalmond;
    padding: 1% 0;
}


/* CSS Login */

.login{

        background-size: cover;
        background-repeat: no-repeat;
        background-position: left;
        padding: 50px;
        margin: 0 auto;
        width: 50%;
        
}

.text-size{

font-size: larger;

}

.design2{
    border: 1.5px solid rgb(138, 91, 30);
    background-color: rgb(248, 217, 179);
    margin: 1%;
    padding: 6%;
    border-radius: 10px; 
}

/* Footer */

.footer-1{
    text-align: center;
    color: white;
    position: sticky;
    top: 100%;
    background-color: rgb(163, 121, 66);
     
}


