/* 
Theme: LunchBreak Food Ordering System
*/

/* CSS all */
*{
    margin: 0 0;
    padding: 0 0;
    font-family: Georgia, 'Times New Roman', Times, serif;

}
.container{
    border: 1px solid brown;
    width: 80%;
    margin: 0 auto;
    padding: 1%;
}

.img-responsive{
    width: 100%;
}
.img-curve{
    border-radius: 15px;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}
.text-white{
    color:black;
}

.clearfix{
    clear: both;
    float: none;
}

a{
    color: #d35400;
    text-decoration: none;
}

a:hover{
    color:brown;
    font-size: 1rem;
}

.btn{
    padding: 1%;
    border: none;
    font-size: 1rem;
}

.btn-primary{
    background-color: rgba(248, 194, 145,1.0);
    color: black;
    cursor: pointer;
}

h2{
    color: #2c3e50;
}
h3{
    font-size: 1.3rem;
    padding:0vw;
}

.float-container{
    position: relative;
}
.float-text{
    position:absolute;
    left: 40%;
}
/* CSS for Navbar */

.logo{
  
    width: 10% ;
    float: left;
}

.menu{
    line-height: 60px;
}

.menu ul{
    list-style: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
    font-weight: bold;
}

/* CSS Categories */
.categories{
    padding: 4% 0;
}

.box-3{

    width: 28%;
    float: left;
    margin: 2%;
}

/* Food Menu */

.food-menu{
    background-color:rgb(255, 230, 208);
    padding: 4% 0;
}

.food-menu-box{
    border: 1px solid black;
    width: 43%;
    margin: 1%;
    padding: 2%;
    float: left;
    background-color: white;
}